<div id="home-container">
  <p>home-component works!</p>

  <span> Name : {{ user.name }} </span>
  <span> Age : {{ user.age }} </span>

  @for (coutn of countList; track $index) {
  <span>{{ coutn }}</span>
  }

  <ul class="padding">
    @for (user of userInformation; track $index) {
    <li>
      <span>{{ user.name }}</span>
      <span>{{ user.age }}</span>
    </li>
    }

    <button (click)="pushNumber()">Add Number</button>

    <input
      type="text"
      [formControl]="searchInput"
      placeholder="start to type"
    />

    <div>
      <p>Search String: {{ searchString() }}</p>

      <input type="text" (input)="setSearchString($event)" />

      <!-- filteredUsers -->

      <button (click)="addUser()">Add User</button>
      <ul>
        @for (user of filteredUsers(); track $index) {
        <li>
          {{ user.name }}
        </li>
        }
      </ul>

      <!-- add count -->

      <p>{{ count() }}</p>

      <button (click)="increment()">Increment</button>
    </div>
  </ul>
</div>
