<div id="home-container">
  <p>home-component works!</p>

  <!-- user.name -->
  <span> Name : {{ user.name }} </span>

  <!-- user.age -->
  <span> Age : {{ user.age }} </span>

  <!-- data -->

  <!-- countList -->

  @for (coutn of countList; track $index) {
  <span>{{ coutn }}</span>

  }

  <!-- userInformation in list -->

  <ul class="padding">
    @for (user of userInformation; track $index) {
    <li>
      <span>{{ user.name }}</span>
      <span>{{ user.age }}</span>
    </li>
    }

    <button (click)="pushNumber()">Add Number</button>

    <h1>
      {{ subjectData }}
    </h1>
  </ul>
</div>
